<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/style.css"/>
  <script defer src="lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="home">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="tracks">Tracks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="artist">Artist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <div class="d-flex">
        <div class="btn-group dropstart">
          <button type="button" class="main__button-dropdown dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Dropstart
          </button>
          <ul class="dropdown-menu">
              <a class="dropdown-item" href="home">Home</a>
              <a class="dropdown-item" href="tracks">Tracks</a>
              <a class="dropdown-item" href="artist">Artist</a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<main role="main" class="pb-3">
    @RenderBody()
</main>
