@model dynamic

@{
    ViewData["Title"] = "About";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML с изображением</title>
</head>
<body>
<!-- Изображение с использованием тега img -->
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRidpQXJ3cHc0DRTQ_9WoDokjKAnQ0zoOw5SwJY2cJdkQ&s" alt="Описание изображения">

<!-- Дополнительные атрибуты: -->
<!-- src: URL изображения -->
<!-- alt: текст, который будет отображен, если изображение недоступно -->
<!-- width: ширина изображения в пикселях (необязательно) -->
<!-- height: высота изображения в пикселях (необязательно) -->
</body>
</html>
