@model dynamic

@{
ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-18 text-center">
            <h1>Spotify stats</h1>
            <p class="lead">Choose an option below:</p>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="tracks" class="btn btn-primary btn-lg">Tracks</a>
                <a href="artist" class="btn btn-secondary btn-lg">Artists</a>
                <a href="account" class="btn btn-success btn-lg">Account</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
