@model IEnumerable<SpotifyStats.Models.Artist>

@{
    ViewData["Title"] = "Top Artists";
}

<h2 class="text-center main__title">Top Artists</h2>
<table class="table table-hover table__border">
    <thead>
    <tr class="main__table-titles">
        <th class="text-center" scope="col">Image</th>
        <th class="text-center" scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    <div class="container">
        @foreach (var artist in Model)
            {
                <tr>
                    <td class="text-center">
                        @if (!string.IsNullOrEmpty(artist.ImageUrl))
                        {
                            <img src="@artist.ImageUrl" alt="@artist.Name" width="75" height="75"/>
                        }
                    </td>
                    <td class="text-center">@artist.Name</td>
                </tr>
            }
    </div>
    </tbody>
</table>