@model IEnumerable<SpotifyStats.Models.Tracks>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Tracks</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <h1>Top Tracks</h1>
</header>
<main>
    <section class="top-tracks">
        <!-- Треки будут динамически добавлены здесь -->
        @foreach (var track in Model)
        {
            <div class="track">
                <img src="@track.ImageUrl" alt="Track Image">
                <p>@track.Name</p>
            </div>
        }
    </section>
</main>
</body>
</html>