@model IEnumerable<SpotifyStats.Models.Tracks>

@{
    ViewData["Title"] = "Top tracks";
}

<h2>Top Tracks</h2>

<table class="table">
    <thead>
    <tr>
        <th>Image</th>
        <th>Artist</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var tracks in Model)
    {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(tracks.ImageUrl))
                {
                    <img src="@tracks.ImageUrl" alt="@tracks.Name" width="75" height="75" />
                }
            </td>
            <td>@tracks.Name</td>
        </tr>
    }
    </tbody>
</table>
