@{
    ViewBag.Title = "GetClientId";
}

<h2>Login</h2>

@using (Html.BeginForm("Index", "GetClientId", FormMethod.Post))
{
    <div>
        <label for="clientId">Client ID:</label>
        <input type="text" id="clientId" name="clientId" />
    </div>
    <button type="submit">Submit</button>
}
